// Colors
$background-color: #f8f8f8;
$primary-text-color: #333333;
$primary-link-color: #ff9800;
$secondary-text-color: #535353;
$navbar-link-color: #f1f1f1;
$border-color: #e0e0e0;

// Box Shadow
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

// Buttons
$primary-button-color: #5F9EA0;
$primary-button-color-hover: #AFCBD6;

// Border
$border-radius: 8px; // Fixed value for rounded corners
$border-radius-circle: 50%;
$border-width: 1px;  // Consistent thin border

// Spacing
$spacing-xsmall: 0.375rem; // 6px
$spacing-small: 0.5rem;  // 8px
$spacing-medium: 1rem;   // 16px
$spacing-large: 1.5rem;  // 24px


// Fonts
$font-size-small: 0.875rem; // 14px
$font-size-base: 1rem;      // 16px
$font-size-medium: 1.125rem; // 18px
$font-size-large: 1.5rem;    // 24px
$font-size-xl: 2rem;        // 32px

$font-weight-regular: 400;
$font-weight-bold: 700;
$line-height: 1.5;
